* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    list-style: none;
}

header {
    font-size: 18px;
    width: 100%;
    height: 40px;
    background-color: bisque;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header li a {
    text-decoration: none;
    color: #424242;
    transition: all 0.5s ease 0s;
}

header li a:hover {
    text-decoration: underline;
}

#home {height: 100vh;}

.pop-up-align-relative {
    display: none;
    position: relative;
    width: 700px;
    height: 400px;
    border: transparent;
    background-color: #9b59b6;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.pop-up-close img {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 10px;
    top: 10px;
}

.pop-up-top-flex {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pop-up-top-flex button {
    border: transparent;
    background-color: #7f8c8d;
    padding: 10px 20px;
    margin: 20px 0 0 0;
}

.home-welcome {
    text-align: center;
    position: absolute;
    justify-content: center;
    background-color: #e67e22;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 800px;
    height: 200px;
}

.home-welcome span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}